<h2 style="text-align: center">Em Construção ! </h2>

{{#each cachorros}}

<h2>{{dataValues.nome}}</h2>
<h2>{{dataValues.raca}}</h2>
<h2>{{dataValues.idade}}</h2>
<img src={{dataValues.imagem}} alt="">
<h2>{{dataValues.telefone}}</h2>
<h2>{{dataValues.estado}}</h2>
<h2>{{dataValues.municipio}}</h2>
<h2>{{dataValues.descricao}}</h2>

<hr>



{{/each}}